ul{
    list-style: none;
}
.translation-item{
    box-shadow: 2px 2px 8px #845EC2;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}
.profile-header-img{
    height: 100px;
    width: auto;
}

.blockBtn{
    display:block;
    margin-top: 1rem;
}
.profile-body{
    padding: 0 10px;
    padding-bottom: 10px;
}
.history-container{
    min-height: 50vh;
}

/* YELLOW: #FFC75F
YELLOW_DARK: #E7B355
PURPLE: #845EC2

LIGHT_GREY: #EFEFEF (Inputs)
GREY: #969696 (Text) */