.flex-container{
    display: flex;
    justify-content: center;
}

.translation-container{
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 30px;
    /* border: 1px solid gray; */
    box-shadow: 5px 5px 10px #845EC2;
    min-height: auto;
    width: 75%;
}

.sign-letters{
    object-fit: contain;
    width: 5rem;
    height: auto;
}
.translation-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color:#FFC75F;
    border-bottom: 1px solid gray;

}

.translation-input-container input{
    margin: 2rem;
    height: 1.5rem;
    border-radius: 8px;
    border: 1px solid gray;
}
.input-form label{
    display: block;
}