.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: space-around;
    align-content: center;
    background-color: #fab73b;
}

.navLinks{
    justify-self: center;
    align-self: center;
}
