.login-header{
    /* color: white; */

}

.login-header h1{
    font-weight: 100;
    margin: auto;
}

.header-img{
    height: 100px;
    width: auto;
}
.login-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #845EC2;
    position: relative;
    top: -5vh;
    left: 21vw;
    display: flex;
    max-width: 20vw;
    min-height: 15vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container button{
    background-color: #845EC2;
}
.login-input{
    height: 1.5rem;
    border-radius: 10px;
    border: 1px solid gray;

}
.login-error{
    color:rgb(164, 16, 16)
}