@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

/* font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Sanchez', serif; */

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    
}
.App{
    font-family: 'Sanchez', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column-start: 3;
    grid-column-end: 8;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px gray;
    min-height: 100vh;
}
.heading{
    font-family: 'Love Ya Like A Sister', cursive;
    margin: auto;
}

header{
    display: flex;
    background-color: #FFC75F;
    justify-content: space-evenly;
    padding: 15px;
    /* height: 40vh; */
    /* border-bottom: 10px solid #845EC2; */
}
button{
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    height: 1.5rem;
    font-family: 'Sanchez';
}
button:hover{
    box-shadow: 2px 2px 10px rgb(84, 80, 80);
}

.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}